body {
    margin: 0 auto;
    background-color: lightgray;
    color: black;
    line-height: 1.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}

header {
    background-color: darkslategrey;
    color: white;
}

header h1 {
    text-align: center;
    margin-top: 0;
    padding: 4%;
    margin-bottom: 0;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    padding: 1em;
    background-color: darkslategrey;
    color: white;
}

/*Main navigation*/
nav {
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: -5px;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 33px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

.current-page {
    background-color: darkslategrey;
    color: white;
}

#hamburgerMenu {
    display: none;
}

/*Main settings*/
main {
    padding: 1em;
}

main.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

main.image-grid h2 {
    grid-area: 1 / 1 / 2 / 3;
}

main.image-grid .imgOne {
    grid-area: 2 / 1 / 3 / 2;
}

main.image-grid .imgTwo {
    grid-area: 2 / 2 / 3 / 3;
}

main.image-grid .imgThree {
    grid-area: 3 / 1 / 4 / 2;
}

main.image-grid .imgFour {
    grid-area: 3 / 2 / 4 / 3;
}

main.image-grid .imgFive {
    grid-area: 4 / 1 / 5 / 2;
}

main.image-grid .imgSix {
    grid-area: 4 / 2 / 5 / 3;
}

main img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    header h1 {
        padding: 0;
    }

    /*Styling hamburger menu*/
    #hamburgerMenu {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /*Main navigation*/
    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    header .topNav {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    nav {
        display: none;
    }
}